//-
  @Author: 张焱鑫
  @Date:   2018-02-05 14:33:45
  @Last Modified by:   张焱鑫
  @Last Modified time: 2018-02-12 14:03:48
.home_tab
    .menu_tab
        a(href="javascript:void(0);" class="home tab_item active")
            .icon
            span 首页
    .menu_tab
        a(href="javascript:void(0);" class="clerk tab_item")
            .icon
            span 服务专员
        ul.menu_box
            li
                a(href="service_attache_bussiness.html", class="menu_item") 个人名片
            li
                a(href="javascript:;", class="menu_item") 个人微店
            li
                a(href="javascript:;", class="menu_item") 销售业绩
    .menu_tab
        a(href="javascript:void(0);" class="client tab_item")
            .icon
            span 客户
        ul.menu_box
            li
                a(href="javascript:;", class="menu_item") 个人名片
            li
                a(href="javascript:;", class="menu_item") 个人微店
            li
                a(href="javascript:;", class="menu_item") 销售业绩
