/*
* @Author: 张焱鑫
* @Date:   2018-02-05 15:05:19
* @Last Modified by:   李杰
* @Last Modified time: 2018-02-13 15:18:24
*/
.home_tab { display: flex; width: 100%; height: q(98); border-top: 1px solid #e6e6e6; position: fixed; left: 0; bottom: 0; z-index: 2; background-color: #fff; text-align: center; align-items: center;
    a { display: block; height: 100%; flex: 1; font-size: 0;
        .icon { display: inline-block; margin: q(10) 0; background-size: cover;}
        &.home .icon { width: q(41); height: q(40); background-image: url('../images/icon_home.png');}
        &.clerk .icon { width: q(46); height: q(37); background-image: url('../images/icon_clerk.png');}
        &.client .icon { width: q(34); height: q(41); background-image: url('../images/icon_client.png');}
        span { display: block; font-size: q(20); color: #999; }
        &.active {
            span { color: #3aa5ff;}
            &.home .icon { background-image: url('../images/icon_home_ac.png');}
            &.clerk .icon { background-image: url('../images/icon_clerk_ac.png');}
            &.client .icon { background-image: url('../images/icon_client_ac.png');}
        }
    }
    .menu_tab { position: relative; flex: 1;}
    .menu_box { background-color: #fff; position: absolute; left: 0; right: 0; bottom: q(120); border-radius: q(12); border: 1px solid #e3e3e3; display: none;
        &:after { content: ''; position: absolute; width: q(20); height: q(20); background-color: #fff; border-left: 1px solid #e3e3e3; border-bottom: 1px solid #e3e3e3; left: 50%; transform: rotateZ(-45deg) translateY(-50%);}
        li { margin: 0 q(10); border-top: 1px solid #e3e3e3;
            &:nth-child(1) { border-top: 0;}
            .menu_item { display: block; font-size: q(30); color: #4c4c4c; padding: q(30) q(14);
                &:active { color: #3aa5ff;}
            }
        }
    }
}
