//-
  @Author: 张焱鑫
  @Date:   2018-02-07 09:25:24
  @Last Modified by:   张焱鑫
  @Last Modified time: 2018-03-28 14:39:07
span#aaa 点击事件出弹窗
    script.
        $('#aaa').click(function() {
            $.Popups({
                type: 'pop_ups',
                msgText: '目前，正在试运行阶段，敬请期待'
            })
        })