//-
  @Author: 张焱鑫
  @Date:   2018-02-08 16:00:37
  @Last Modified by:   张焱鑫
  @Last Modified time: 2018-02-08 17:01:29
.email
    span 电子邮箱
    input(type="text" placeholder="请输入" id="email_input" value="")
    ul(class="email_select" id="email_select")
        li
            span.input_text
            span @qq.com
        li
            span.input_text
            span @163.com
        li
            span.input_text
            span @sina.com
