//-
    @Author: 孙杨博
    @Date:   2018-02-07 16:19:57
    @Last modified by: 孙杨博
    @Last Modified time: 2018-02-07 16:19:57


    //此处仅作为引用类型参考，并非传参组件，引用样式已并入base
    //直接复制代码即可引用，也可参考页面：
    //prod_group_insurance_details_family
    //产品列表-团险-产品详情-家庭险

.box_list_tip.box_cut
    p.tip_tit 保障利益
    p.tip_tit_add 30天-65周岁，120元/人；66-80周岁，200元/人
    ul.list_price
        li.tip_item
            .l
                p.imfor 11111
            .r
                .basic
                    span.price 123
                    a(class="icon-wrapper", href="javascript:;")
                        svg('class'="icon icon-wenhao", 'aria-hidden'="true")
                            use('xlink:href'="#icon-wenhao",'href'="#icon-wenhao")
        li.tip_item
            .l
                p.imfor 11111
                p.imfor 22222
            .r
                .basic
                    span.price 123
                    a(class="icon-wrapper", href="javascript:;")
                        svg('class'="icon icon-wenhao", 'aria-hidden'="true")
                            use('xlink:href'="#icon-wenhao",'href'="#icon-wenhao")
        li.tip_item
            .l
                p.imfor 11111
            .r
                .basic
                    span.price 123
                    a(class="icon-wrapper", href="javascript:;")
                        svg('class'="icon icon-wenhao", 'aria-hidden'="true")
                            use('xlink:href'="#icon-wenhao",'href'="#icon-wenhao")
                .add
                    p （免赔额100，赔付比例80%）
    .box_price_show
        .price
            span ￥
            span.val 120
            span 起/份
