.peoduct_home {
  background-color: #f7f7f7; }
  .peoduct_home .header {
    position: relative;
    height: 17.33rem; }
    .peoduct_home .header.small {
      height: 14.93333rem; }
      .peoduct_home .header.small .banner {
        height: 14.93333rem; }
        .peoduct_home .header.small .banner .txt {
          padding-top: 11.5rem; }
    .peoduct_home .header .banner {
      height: 17.33rem;
      width: 100%;
      background: url("../images/banner-prohome.jpg") no-repeat #fff;
      -webkit-background-size: cover;
              background-size: cover;
      -webkit-transition: all 1.5s;
      -o-transition: all 1.5s;
      transition: all 1.5s;
      background-position: center; }
      .peoduct_home .header .banner .txt {
        color: #fff;
        width: 76%;
        margin: 0 auto;
        padding-top: 12.5rem;
        -webkit-transition: all 1.5s;
        -o-transition: all 1.5s;
        transition: all 1.5s; }
        .peoduct_home .header .banner .txt h2 {
          font-size: 1.49333rem;
          padding-bottom: 0.46933rem;
          margin-bottom: 0.46933rem;
          border-bottom: 1px dashed; }
        .peoduct_home .header .banner .txt .subtit {
          font-size: 0.512rem; }
    .peoduct_home .header .chart_code {
      position: absolute;
      top: 0;
      left: 1.49333rem;
      width: 1.70667rem;
      height: 2.47467rem;
      background: url(../images/icon-chatcode.png) no-repeat;
      -webkit-background-size: contain;
              background-size: contain; }
