//-
  @Author: 张焱鑫
  @Date:   2018-02-08 14:11:16
  @Last Modified by:   张焱鑫
  @Last Modified time: 2018-02-12 09:18:18
.business_card
    .avatar
        span
            .cont
                img(src="images/avatar.png", alt="")
            a(href="javascript:;")
    p.client_name 王刚
    p.profession 风险管理师
    div(class="wave wave1")
    div(class="wave wave2")
    div(class="wave wave3")
